/* Importação da fonte Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
    --primary-color: #2D68C4;
    --primary-dark: #23519B;
    --primary-light: #C0DFFF;
    --secondary-color: #6C7A89;
    --success-color: #4CAF50;
    --warning-color: #FFC107;
    --danger-color: #F44336;
    --light-color: #F5F5F5;
    --dark-color: #000000;
    --white: #ffffff;

    --blue-bg-dark: #2F599C;
    --white-card-bg: #FFFFFF;
    --text-color-dark: var(--dark-color);
    --text-color-light: #5C6A7A;
    --primary-blue: var(--primary-color);
    --link-color: var(--primary-color);

    
    --new-button-bg: #074276; 
    --new-button-hover-bg: #053052; 
    --new-button-size: 40px; 
    --new-button-font-size: 20px; 
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif; 
    background: linear-gradient(to top, #074276, #64a1d7);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    background-color: transparent;
    border-radius: 15px;
    width: 90%;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: relative;
    overflow: hidden;
}

.form-card {
    background-color: var(--white-card-bg);
    border-radius: 10px;
    padding: 40px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

.header-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    box-sizing: border-box;
    flex-direction: row;
}

.header-form .title {
    color: var(--text-color-dark);
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.header-form .logo {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 100px;
    height: auto;
}

.question {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.radio-options-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    text-align: left;
}

.radio-option-label {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: var(--text-color-light);
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.radio-option-label input {
    margin-right: 15px;
    width: 22px;
    height: 22px;
    min-width: 22px;
    min-height: 22px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid var(--primary-blue);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    display: grid;
    place-content: center;
    flex-shrink: 0;
}

.radio-option-label input::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
    box-shadow: inset 1em 1em var(--primary-blue);
    background-color: CanvasText;
}

.radio-option-label input:checked::before {
    transform: scale(1);
}

.botoes-navegacao {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

    .botao-navegacao {
      background-color: #074276;
      color: white;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 20px;
    }

    .form-card {
        width: 95%;
        padding: 25px;
    }

    .header-form {
        flex-direction: row;
        text-align: left;
        margin-bottom: 15px;
    }

    .header-form .title {
        color: var(--text-color-dark);
        font-size: 24px;
        font-weight: 700;
        margin: 0;
    }

    .header-form .logo {
        position: absolute;
        top: 10px;
        right: 20px;
        width: 100px;
        height: auto;
    }

    .question {
        font-size: 18px;
        font-weight: 600;
        margin: 0;
    }

    .radio-options-group {
        gap: 10px;
        margin-bottom: 20px;
    }

    .radio-option-label {
        font-size: 1.1em;
    }

    .radio-option-label input {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
    }
    .radio-option-label input::before {
        width: 8px;
        height: 8px;
    }


}
